body{font-family:Arial,sans-serif;
background-color:#f2f5f9;
margin:0;
padding:30px;
}
.container{max-width:500px;
    margin:0 auto;
    padding:25px;
    background-color:white;
    }
h1{
    text-align:center;
    color:#333333;
    font-size:26px;
}